{% extends "base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/create_report.css' %}">
    <title>{% block title %}Create Report{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/inlines.js' %}"></script>

</head>
{% endblock %}

<body>
  <!--
    This block is for the creation of the reports, it contains the form that is populated based on the fields
    of the model. The formset is for adding images to the model.
  -->
  {% block content %}
  <div class="header">
    <br>
    <h1>Create Report</h1>
    <br>
  </div> 

  {% if report_form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in report_form.field_name.errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
    </div>
  {% endif %}

  <div class="report-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}


      <!-- Basic Information -->

<div class="form-group-section">
    <h3>Basic Information</h3>
    <br>
    <!-- status -->
    <div class="form-group {% if report_form.status.errors %}has-error{% endif %}">
        <label for="{{ report_form.status.id_for_label }}">{{ report_form.status.label }}</label>
        <div class="text">This is where you input your status</div>
        {{ report_form.status }}
        {% for error in report_form.status.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- title_project -->
    <div class="form-group {% if report_form.title_project.errors %}has-error{% endif %}">
        <label for="{{ report_form.title_project.id_for_label }}">{{ report_form.title_project.label }}</label>
        {{ report_form.title_project }}
        {% for error in report_form.title_project.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

</div>

<!-- Focal point(s) and affiliation(s) -->



<div class="form-group-section">
    <h3>Focal point(s) and affiliation(s)</h3>
    <div class="org-title">Organisation</div>
    <div class="organization-formsets">
        <div class="text">This is where you input the organisation associated to your project</div>
        {{ organization_formset.management_form }}
        {% for form in organization_formset %}
    <div class="organization-form" data-prefix="{{ form.prefix }}">
        {{ form.name.label }}: {{ form.name }}<br>
        {{ form.email.label }}: {{ form.email }}<br>
        <div class="website">
        {{ form.website.label }}: {{ form.website }}<br>
        </div>
        <button type="button" class="remove-org-form">Remove</button>
    </div>
{% endfor %}
        <button type="button" id="add-organization">Add Another Organization</button>
    </div>


    <!-- delivery -->
    <div class="form-group {% if report_form.delivery.errors %}has-error{% endif %}">
        <label for="{{ report_form.delivery.id_for_label }}">{{ report_form.delivery.label }}</label>
        <div class="text">This is where you put your preference in regards to how your project will be delivered to the public</div>
        {{ report_form.delivery }}
        {% for error in report_form.delivery.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- frequency -->
    <div class="form-group {% if report_form.frequency.errors %}has-error{% endif %}">
        <label for="{{ report_form.frequency.id_for_label }}">{{ report_form.frequency.label }}</label>
        {{ report_form.frequency }}
        {% for error in report_form.frequency.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>


    <!-- web_link -->
    <div class="form-group {% if report_form.web_link.errors %}has-error{% endif %}">
        <label for="{{ report_form.web_link.id_for_label }}">{{ report_form.web_link.label }}</label>
        <div class="text">This should have the format of https:// (e.g. https://example.com.au)</div>
        {{ report_form.web_link }}
        {% for error in report_form.web_link.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- additional_resources -->
    <div class="form-group {% if report_form.additional_resources.errors %}has-error{% endif %}">
        <label for="{{ report_form.additional_resources.id_for_label }}">{{ report_form.additional_resources.label }}</label>
        {{ report_form.additional_resources }}
        {% for error in report_form.additional_resources.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
</div>

<!-- Geographical & Education Information -->

<div class="form-group-section">
    <h3>Geographical & Education Information</h3>

    <!-- region -->
    <div class="form-group {% if report_form.region.errors %}has-error{% endif %}">
        <div class="text">This is where you input the demographic associated to your project</div>
        <label for="{{ report_form.region.id_for_label }}">{{ report_form.region.label }}</label>
        {{ report_form.region }}
        {% for error in report_form.region.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    </div>

    <!-- ecosystem -->
    <div class="form-group {% if report_form.ecosystem.errors %}has-error{% endif %}">
        <label for="{{ report_form.ecosystem.id_for_label }}">{{ report_form.ecosystem.label }}</label>
        {{ report_form.ecosystem }}
        {% for error in report_form.ecosystem.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- audience -->
    <div class="form-group {% if report_form.audience.errors %}has-error{% endif %}">
        <label for="{{ report_form.audience.id_for_label }}">{{ report_form.audience.label }}</label>
        <div class="text">Key demographic for your intended main audience</div>
        {{ report_form.audience }}
        {% for error in report_form.audience.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- socio_economic_characteristics -->
    <div class="form-group {% if report_form.socio_economic_characteristics.errors %}has-error{% endif %}">
        <label for="{{ report_form.socio_economic_characteristics.id_for_label }}">{{ report_form.socio_economic_characteristics.label }}</label>
        <div class="text">The details about the socio economic characteristics of the project</div>
        {{ report_form.socio_economic_characteristics }}
        {% for error in report_form.socio_economic_characteristics.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- development_challenges -->
    <div class="form-group {% if report_form.development_challenges.errors %}has-error{% endif %}">
        <label for="{{ report_form.development_challenges.id_for_label }}">{{ report_form.development_challenges.label }}</label>
        <div class="text">This is where you input any development challenges associated with the project</div>
        {{ report_form.development_challenges }}
        {% for error in report_form.development_challenges.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

<!-- Contents -->

<div class="form-group-section">
    <h3>Contents</h3>

    <!-- start_project -->
    <div class="form-group {% if report_form.start_project.errors %}has-error{% endif %}">
        <label for="{{ report_form.start_project.id_for_label }}">{{ report_form.start_project.label }}</label>
        {{ report_form.start_project }}
        {% for error in report_form.start_project.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- end_project -->
    <div class="form-group {% if report_form.end_project.errors %}has-error{% endif %}">
        <label for="{{ report_form.end_project.id_for_label }}">{{ report_form.end_project.label }}</label>
        {{ report_form.end_project }}
        {% for error in report_form.end_project.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- rationale -->
    <div class="form-group {% if report_form.rationale.errors %}has-error{% endif %}">
        <label for="{{ report_form.rationale.id_for_label }}">{{ report_form.rationale.label }}</label>
        <div class="text">This is where you input any rationale associated with the project</div>
        {{ report_form.rationale }}
        {% for error in report_form.rationale.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- objectives -->
    <div class="form-group {% if report_form.objectives.errors %}has-error{% endif %}">
        <label for="{{ report_form.objectives.id_for_label }}">{{ report_form.objectives.label }}</label>
        <div class="text">This is where you input any main objectives associated with the project</div>
        {{ report_form.objectives }}
        {% for error in report_form.objectives.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- activities_practices -->
    <div class="form-group {% if report_form.activities_practices.errors %}has-error{% endif %}">
        <label for="{{ report_form.activities_practices.id_for_label }}">{{ report_form.activities_practices.label }}</label>
        <div class="text">This is where you input any activities practices involved with your project</div>
        {{ report_form.activities_practices }}
        {% for error in report_form.activities_practices.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- size_academic -->
    <div class="form-group {% if report_form.size_academic.errors %}has-error{% endif %}">
        <label for="{{ report_form.size_academic.id_for_label }}">{{ report_form.size_academic.label }}</label>
        <div class="text">This is where you pick the academic target audience size for your project, number only</div>
        {{ report_form.size_academic }}
        {% for error in report_form.size_academic.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- results -->
    <div class="form-group {% if report_form.results.errors %}has-error{% endif %}">
        <label for="{{ report_form.results.id_for_label }}">{{ report_form.results.label }}</label>
        <div class="text">Any current results or expected results for your project</div>
        {{ report_form.results }}
        {% for error in report_form.results.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- lessons_learned -->
    <div class="form-group {% if report_form.lessons_learned.errors %}has-error{% endif %}">
        <label for="{{ report_form.lessons_learned.id_for_label }}">{{ report_form.lessons_learned.label }}</label>
        <div class="text">Key lesson learned in regards to the project should be inputted here</div>
        {{ report_form.lessons_learned }}
        {% for error in report_form.lessons_learned.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- key_message -->
    <div class="form-group {% if report_form.key_message.errors %}has-error{% endif %}">
        <label for="{{ report_form.key_message.id_for_label }}">{{ report_form.key_message.label }}</label>
        <div class="text">Input any key message associated to the project</div>
        {{ report_form.key_message }}
        {% for error in report_form.key_message.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- relationship_activities -->
    <div class="form-group {% if report_form.relationship_activities.errors %}has-error{% endif %}">
        <label for="{{ report_form.relationship_activities.id_for_label }}">{{ report_form.relationship_activities.label }}</label>
        <div class="text">This should include any relationship activities that is associated with the project</div>
        {{ report_form.relationship_activities }}
        {% for error in report_form.relationship_activities.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- funding -->
    <div class="form-group {% if report_form.funding.errors %}has-error{% endif %}">
        <label for="{{ report_form.funding.id_for_label }}">{{ report_form.funding.label }}</label>
        <div class="text">This should include any funding associated with the project</div>
        {{ report_form.funding }}
        {% for error in report_form.funding.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

</div>
<!-- SDG list -->
      <div id="sdg-container">
          {% for i in sdg_list %}
              <div class="sdg-item">
                  <img src="{% static 'images/sdg_'|add:i|add:'.png' %}" class="sdg-img" data-sdg="{{ i }}" alt="SDG {{ i }}">
                  <div class="sdg-options">
                    
                      <input type="radio" name="sdg_option_{{ i }}" value="direct"> Direct
                      <input type="radio" name="sdg_option_{{ i }}" value="indirect"> Indirect
                  </div>
              </div>
          {% endfor %}
      </div>
      <br>
      <div id="esd-themes-container">
        {% for theme in themes_esd %}
            <div class="esd-theme-item">
                <p>---------------------------------</p>
                {{ theme }} 
                <br><br>
                <div class="esd-theme-options">
                    <input type="radio" name="esd_theme_option_{{ theme }}" value="direct" {% if theme in report.direct_esd_themes %}checked{% endif %}> Direct
                    <input type="radio" name="esd_theme_option_{{ theme }}" value="indirect" {% if theme in report.indirect_esd_themes %}checked{% endif %}> Indirect
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div id="esd-priority-container">
        {% for area in priority_action_areas %}
            <div class="esd-priority-item">
                <hr>
                <br>
                {{ area }}
                <br><br>
                <div class="esd-priority-options">
                    <input type="radio" name="esd_priority_option_{{ area }}" value="direct" {% if area in report.direct_priority_areas %}checked{% endif %}> Direct
                    <input type="radio" name="esd_priority_option_{{ area }}" value="indirect" {% if area in report.indirect_priority_areas %}checked{% endif %}> Indirect
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
      <!-- Image upload -->
      <div class="form-group">
        <label for="image">Upload Images</label>
        <div class="text">This is where you upload any images associated with the project in the format of .png, .jpg, .jpeg</div>
        <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png" multiple>
    </div>
    
    <!--File upload-->
    <div class="form-group">
        <label for="files">Upload Files</label>
        <div class="text">This is where you can upload files in the format of .pdf, .txt, .doc, .docx</div>
        <input type="file" name="file" id="files" accept=".pdf, .doc, .docx, .txt" multiple>
    </div>
    
  
</div>
      <!--Save form button-->
  <div class="save-options">
    <button type="submit" name="save">Save Report</button>
    <button type="submit" name="submit_for_approval">Submit for Approval</button>
</div>  
</form>

  <script>

    
document.addEventListener('DOMContentLoaded', function() {

const radios = document.querySelectorAll('input[type="radio"]');

radios.forEach(radio => {
    radio.addEventListener('click', function () {
        console.log('Radio clicked');
        if (radio.getAttribute('data-last-clicked') === 'true') {
            radio.checked = false;
            radio.setAttribute('data-last-clicked', 'false');
        } else {
            radio.setAttribute('data-last-clicked', 'true');
        }

        // Deselect other radios with the same name attribute if the current one is checked
        radios.forEach(otherRadio => {
            if (otherRadio.name === radio.name && otherRadio !== radio) {
                otherRadio.setAttribute('data-last-clicked', 'false');
            }
        });
    });
});

const orgFormSetsContainer = document.querySelector('.organization-formsets');
const orgFormTemplate = orgFormSetsContainer.querySelector('.organization-form').cloneNode(true);
const totalFormsInput = document.getElementById('id_organization_set-TOTAL_FORMS');

function updateFormsetIndexes() {
    const organizationForms = orgFormSetsContainer.querySelectorAll('.organization-form');
    organizationForms.forEach((form, index) => {
        const inputs = form.querySelectorAll('input, select, textarea');
        inputs.forEach(input => {
            const updatedName = input.name.replace(/-\d+-/, `-${index}-`);
            const updatedId = input.id.replace(/-\d+-/, `-${index}-`);
            input.name = updatedName;
            input.id = updatedId;
        });
    });
    totalFormsInput.value = organizationForms.length;
}

document.getElementById('add-organization').addEventListener('click', function() {
    const newForm = orgFormTemplate.cloneNode(true);
    newForm.querySelectorAll('input').forEach(input => input.value = '');
    const removeBtn = newForm.querySelector('.remove-org-form');
    removeBtn.addEventListener('click', function() {
        newForm.remove();
        updateFormsetIndexes();
    });
    orgFormSetsContainer.appendChild(newForm);
    updateFormsetIndexes();
});
});
</script>
    
{% endblock %}