{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Login </title>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Syahrizaldev"><link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
	  
	body {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1rem;
		font-weight: normal;
		line-height: 1.5;
		color: var(--color-black);
		background: url(https://wallpaperaccess.com/full/5020635.jpg);
		background-size: cover; /* Adjust the background size as needed */
		background-repeat: no-repeat; /* Prevent the background image from repeating */
	  }
</style>
</head>
<body>

<main class="main">
	<div class="container">
		<section class="wrapper">
            <div class="back-button">
                <a href="/">
                    <i class="ion ion-arrow-left-circled"></i> Back to UNRCE Home
                </a>
            </div>
			<div class="heading">
                <div class="logo">
                    <img src="{% static 'icons/unrce_log.bmp' %}" alt="UNRCE Logo"> 
                </div>
				<h1 class="text text-large">UNRCE Sign In</h1>
				<p class="text text-normal">or <span><a href="{% url 'register' %}" class="text text-links">Register with UNRCE</a></span>
				</p>
			</div>
			<form method="post" name="signin" class="form">
				{% csrf_token %}
				<div class="input-control">
					<label for="username" class="input-label" hidden></label>
					<input type="text" name="username" id="username" class="input-field" placeholder="Username" required>
					{{ form.username.errors }}
				</div>
				<div class="input-control">
					<label for="password" class="input-label" hidden>Password</label>
					<input type="password" name="password" id="password" class="input-field" placeholder="Password" required>
					{{ form.password.errors }}
				</div>
			
				<div class="input-control">
					{% if form.errors %}
					<div class="error-message" id="error-message">
						<p>Invalid Username or Password</p>
					</div>
					{% endif %}
					<a class="text text-links" href="{% url 'contact' %}">Forgot Password</a>
					<input type="submit" name="submit" class="input-submit" value="Sign In">
				</div>
			</form>
		</section>
	</div>
</main>

</body>
<script>
    // Delays the appearance of error message
    setTimeout(function () {
        const errorMessage = document.getElementById('error-message');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 3000);

    const passwordInput = document.getElementById('password');
    const showPasswordCheckbox = document.getElementById('show-password');

    showPasswordCheckbox.addEventListener('change', function () {
        if (showPasswordCheckbox.checked) {
            passwordInput.type = 'text'; // Show the password
        } else {
            passwordInput.type = 'password'; // Hide the password
        }
    });
</script>

</html>






