{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}User Profile{% endblock %}</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row profile">
      <!-- User Picture -->
      <div class="col-md-3">
          <div class="profile-sidebar">
              <div class="profile-userpic text-center">
                <img src="{% static 'icons/unrce_log.bmp' %}" width="35" height="35" alt="Inc Logo" />
                <span class="logo-text">UNRCE WA</span>
              </div>
              <div class="profile-usertitle mt-3">
                  <h5 class="text-center">
                      {{ user.first_name }} {{ user.last_name }}
                      <br>
                      Organisation : {{ account.organization }}
                      <br>
                      Username : {{user.username}}
                      <br>
                    </p>

              </div>
          </div>
      </div>

      <!-- User Menu -->
      <div class="col-md-3">
          <div class="profile-usermenu mt-4">
              <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit_profile' %}">
                        <i class="fas fa-user-edit"></i> Edit Profile
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-question-circle"></i> Contact us for further Help</a>
              </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">
                          {% csrf_token %}
                          <i class="fa fa-sign-out"></i>Logout
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
{% endblock %}