<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/report_details.css' %}">
    <title>{% block title %}Report Details{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/inlines.js' %}"></script>
    <style>
        .subpage1,
        .subpage2,
        .subpage3,
        .subpage4 {
            overflow: auto;
            word-wrap: break-word;
        }
    </style>

</head>
{% endblock %}
<body>
  {% block content %}
  <h1 class="title">Title of Project:   {{ report.title_project }}</h1>
  <div class="subheadings">
    <h2> Project Information</h2>
  </div>
  <div class="page subpage1">
    <div>
        <b><strong>Submitting RCE:</strong></b>
        <b><p>{{ report.submitting_RCE }}</p></b>
        <b><strong>Format of Project:</strong></b>
        <b><p>{{ report.format_project }}</p></b>
        <b><strong>Delivery:</strong></b>
        <b><p>{{ report.delivery|join:", " }}</p></b>
        <b><strong>Frequency:</strong></b>
        <b><p>{{ report.frequency }}</p></b>
        <b><strong>Language of Project:</strong></b>
        <b><p>{{ report.language_project }}</p></b>
    </div>
    <div>
        <b><strong>Web Link:</strong></b>
        <b><p>{{ report.web_link }}</p></b>
        <b><strong>Additional Resources:</strong></b>
        <b><p>{{ report.additional_resources }}</p></b>
    </div>
    </div>
    <div class="subheadings">
        <h2> Content & Details</h2>
    </div>
    <div class="page subpage2">
        <div>
            <b><strong>Socio-Economic Characteristics:</strong></b>
            <b><p>{{ report.socio_economic_characteristics }}</p></b>
            <b><strong>Development Challenges:</strong></b>
            <b><p>{{ report.development_challenges }}</p></b>
            <b><strong>Lessons Learned:</strong></b>
            <b><p>{{ report.lessons_learned }}</p></b>
            <b><strong>Key Message:</strong></b>
            <b><p>{{ report.key_message }}</p></b>
            <b><strong>Relationship Activities:</strong></b>
            <b><p>{{ report.relationship_activities }}</p></b>  
        </div>
        <div>
            <b><strong>Rationale:</strong>
            <b><p>{{ report.rationale }}</p>
            <b><strong>Objectives:</strong>
            <b><p>{{ report.objectives }}</p>
            <b><strong>Activities/Practices:</strong>
            <b><p>{{ report.activities_practices }}</p>
            <b><strong>Size Academic:</strong>
            <b><p>{{ report.size_academic }}</p>
            <b><strong>Results:</strong>
            <b><p>{{ report.results }}</p>
            <b><strong>Status:</strong>
            <b><p>{{ report.status }}</p>
            <b><strong>Start of Project:</strong>
            <b><p>{{ report.start_project }}</p>
            <b><strong>End of Project:</strong>
            <b><p>{{ report.end_project }}</p>
        </div>
    </div>
    <div class="subheadings">
        <h2> Funding & Sustainable Development Goals</h2>
    </div>    
    <div class="page subpage3">
        <div>
            <b><strong>Funding:</strong></b>
            <b><p>{{ report.funding }}</p></b>
            <b><strong>Direct SDGs:</strong></b>
            <b><p>{{ report.direct_sdgs|join:", " }}</p></b>
            <b><strong>Indirect SDGs:</strong></b>
            <b><p>{{ report.indirect_sdgs|join:", " }}</p></b>
        </div>
        <div>
            <b><strong>Direct ESD Themes:</strong></b>
            <b><p>{{ report.direct_esd_themes|join:", " }}</p></b>
            <b><strong>Indirect ESD Themes:</strong></b>
            <b><p>{{ report.indirect_esd_themes|join:", " }}</p></b>
            <b><strong>Direct Priority Areas:</strong></b>
            <b><p>{{ report.direct_priority_areas|join:", " }}</p></b>
            <b><strong>Indirect Priority Areas:</strong></b>
            <b><p>{{ report.indirect_priority_areas|join:", " }}</p></b>
        </div>
    </div>

    <div class="subheadings">
        <h2> Status</h2>
    </div> 
    <div class="page subpage4">
        <div>
            <b><strong>Created At:</strong></b>
            <b><p>{{ report.created_at }}</p></b>
            <b><strong>Last Modified:</strong></b>
            <b><p>{{ report.last_modified }}</p></b>
        </div>
        <div>
            <b><strong>Author:</strong></b>
            <b><p>{{ report.author }}</p></b>
            <b><strong>Approved:</strong></b>
            <b><p>{{ report.approved }}</p></b>
            <b><strong>Submitted:</strong></b>
            <b><p>{{ report.submitted }}</p></b>
        </div>
    </div>
</div>
<div class="end">
    <div class="end-content">
        <h2 class="end-title">Additional Information</h2>
        <div class="end-images">
            <h3>Existing Images</h3>
            <div class="image-container">
                {% for img in existing_images %}
                    <img src="{{ img.image.url }}" alt="Image" width="300">
                {% endfor %}
            </div>
        </div>

        <div class="end-files">
            <h3>Existing Files</h3>
            <br>
            <ul>
                {% for file in existing_files %}
                    <li><a href="{{ file.file.url }}" download>{{ file.file.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="end-actions">
        <a class="end-link" href="{% url 'report_review' %}">Return</a>
        
        {% if user.groups.all.0.name == "Admin" %}
            <a class="end-link" href="{% url 'report_edit' report_id=report.id %}">Edit Report</a>
            <br><br>
            <form method="post" action="{% url 'approve_report' report_id=report.id %}">
                {% csrf_token %}
                <input class="end-button" type="submit" value="Approve Report">
            </form>
        {% endif %}
    </div>
    
</div>
{% endblock %}
</body>
</html>