{% extends 'base_generic.html' %}

{% block content %}
  <h2>Create Report</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.as_p }}

    {% if organizations_formset %}
      <h3>Organizations</h3>
      {{ organizations_formset.management_form }}
      {% for form in organizations_formset %}
        {{ form.as_p }}
      {% endfor %}
    {% endif %}

    <input type="submit" value="Next">
  </form>

  {% if step != 'basic' and previous_step %}
  <a href="{% url 'create_report_step' step=previous_step %}">Go Back</a>
{% endif %}
{% endblock %}
