{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}Edit Profile{% endblock %}</title>
{% endblock %}

{%block content %}
<form method="post">
    {% csrf_token %}
    <h3>First Name</h3>
    {{ form.first_name }}<br>
    <h3>Last Name</h3>
    {{ form.last_name }}<br>
    <h3> Email</h3>
    {{ form.email }}<br>
    <h3> Password Change <br>(optional, leave blank to not change)</h3>


    New Password: {{ form.new_password }}<br>
    Confirm Password: {{ form.confirm_password }}<br>

    <button type="submit" class="save">Save changes</button>
</form>
{% endblock %}
