{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EOI{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="forms">
        <form action="">
            <div class="main">
                <div class="back-button">
                    <a href="/">
                        <i class="ion ion-arrow-left-circled"></i> Back to UNRCE Home
                    </a>
                </div>
                <h1 class="text text-large">Expression of Interest</h1>
                <hr />
                <p>
                    All submissions to this form will be appended into a table to be reviewed by the Secretariat.
                </p>
                <h4 style="color: red;">* Required</h4>
            </div>
            <div class="input-control">
                <h3>Title of Project <span style="color: red;">*</span></h3>
                <input type="text" name="project_title" id="project_title" required />
            </div>
            <div class="input-control">
                <h3>Contributing Organisations <span style="color: red;">*</span></h3>
                <input type="text" name="contributing_organizations" id="contributing_organizations" required />
            </div>
            <div class="input-control">
                <h3>Details <span style="color: red;">*</span></h3>
                <div class="details-subsection">
                    <h5>Name <span style="color: red;">*</span></h5>
                    <input type="text" name="name" id="name" required />
                </div>
                <div class="details-subsection">
                    <h5>Organisation Affiliation <span style="color: red;">*</span></h5>
                    <input type="text" name="organization_affiliation" id="organization_affiliation" required />
                </div>
                <div class="details-subsection">
                    <h5>E-mail <span style="color: red;">*</span></h5>
                    <input type="email" name="email" id="email" required />
                </div>
                <div class="details-subsection">
                    <form action="/upload-endpoint" method="post" enctype="multipart/form-data">
                        <label for="files">Additional Information:</label>
                        <input type="file" id="files" name="files[]" multiple>
                        <input type="submit" value="Upload">
                    </form>
                </div>
            </div>
            <div class="submit">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</body>
</html>
