{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/initial-landing.css' %}">
    <title>{% block title %}Landing Page{% endblock %}</title>
{% endblock %}

{% block content %}


<div class="my-container-fluid my-splash" id="splash" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(68, 68, 68, 0.5)), url('{% static "images/hero.png" %}') no-repeat fixed center; background-size:cover">
  <div class="my-container" style="width: 90%; min-height: 400px; padding: 30px;">
    <h2 class="title">United Nation Regional Center of Expertise WA</h1>
    <span class="my-lead">RCEs aspire to translate global objectives into the context of the local communities in which they operate</span>
    <span class="my-continue"><a href="#about"><i class="fa fa-angle-down"></i></a></span>
  </div>
</div>

<div class="my-container-fluid my-intro" id="about">
  <div class="my-container cf">
    <h2>About Us</h2>
    <p>RCE Western Australia brings together the passion and expertise of researchers, educators, students, and partners of the University of Western Australia to make change in their regions, nationally and globally.</p>
  </div>
</div>

<div class="my-container-fluid my-features" id="skills">
  <div class="my-container cf">
    <h2>Goals &amp; Objectives</h2>
    <div class="my-col-3">
      <h3>Broad Goal</h3>
      <p>Contributing to a more sustainable planet. </p>
    </div>
    <div class="my-col-3">
      <h3>How are we doing it</h3>
      <p>To build the capacity of UWA and partner organizations to support a process of change and embed education for sustainability.</p>
    </div>
    <div class="my-col-3">
      <h3>Actions</h3>
      <p>To support the translation of established research expertise appropriate to the context of Western Australia for application in diverse community settings to support education for sustainability and broader climate action initiatives (e.g., oceans; biodiversity).</p>
    </div>
  </div>
</div>

<div class="my-container-fluid my-portfolio" id="portfolio">
  <div class="my-container cf">
    <h2 class="sdg-title">Sustainability Development Goals</h2>
    <div class="my-gallery">
      <div class="my-gallery-image"><img src="{% static  'images/sdg_1.png' %}" alt="Inc Logo"></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_2.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_3.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_4.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_5.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_6.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_7.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_8.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_9.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_10.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_11.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_12.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_13.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_14.png' %}" alt=""></div>
      <div class="my-gallery-image"><img src="{% static  'images/sdg_15.png' %}" alt=""></div>
      <div class="my-gallery-last-image"><img src="{% static  'images/sdg_16.png' %}" alt=""></div>
      <div class="my-gallery-last-image"><img src="{% static  'images/sdg_17.png' %}" alt=""></div>
    </div>
  </div>
</div>

<footer class="my-container-fluid my-footer">
  <div class="my-container">
    <img src="http://www.rcenetwork.org/portal/sites/default/files/transparent_colour_rce_logo.png" alt="RCE Logo" class="footer-logo">
    <div class="terms-container">
      <a href="path_to_your_terms_and_conditions_page" target="_blank" class="TC">Terms & Conditions</a>
    </div>
    <div class="social-icons">
      <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/groups/12682390/" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</footer>

<script>
  ////////////////////////////////////
  // NAVIGATION SHOW/HIDE

  $(".my-nav ul").hide();

  $(".my-nav-toggle").click(function () {
    $(".my-nav ul").slideToggle("medium");
  });

  $(".my-nav ul li a, .my-brand a").click(function () {
    $(".my-nav ul").hide();
  });

  ////////////////////////////////////
  // SMOOTH SCROLLING WITH NAV HEIGHT OFFSET

  $(function () {
    var navHeight = $(".my-nav").outerHeight();
    $('a[href*="#"]:not([href="#"])').click(function () {
      if (
        location.pathname.replace(/^\//, '') ==
          this.pathname.replace(/^\//, '') &&
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top - navHeight
          }, 1000);
          return false;
        }
      }
    });
  });

  ////////////////////////////////////
  // NAVIGATION STICKY

  var viewHeight = $(window).height();
  var navigation = $('.my-nav');

  $(window).scroll(function () {
    if ($(window).scrollTop() > viewHeight - 175) {
      // Edit for nav height if necessary
      navigation.addClass('my-sticky');
    } else {
      navigation.removeClass('my-sticky');
    }
  });

  ////////////////////////////////////////////////
  // MAKE THE SPLASH CONTAINER VERTICALLY CENTERED

  function centerSplash() {
    var navHeight = $('.my-nav').outerHeight();
    var splashHeight = $('.my-splash .my-container').height();
    var remainingHeight = $(window).height() - splashHeight - navHeight;
    $('.my-splash .my-container').css({
      'padding-top': remainingHeight / 2,
      'padding-bottom': remainingHeight / 2
    });
  }

  $(document).ready(function () {
    centerSplash();
  });

  $(window).resize(function () {
    centerSplash();
  });

  $(document).ready(function() {
    $('a[href^="#"]').on('click', function(event) {
        var target = $(this.getAttribute('href'));
        if (target.length) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    });
});
  

</script>
{% endblock %}
