<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="D:\CITS 3200\UN-RCE-WA-Database\unrce_project\unrce\static\css\login.css">       
</head>
<body>

<div class="login-container">
    <h2>Login</h2>
    {% block content %}
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  {% endblock %}
  
</div>

</body> 
</html>
