{% extends "base.html" %}
{% load static %}


{% block head %}
    {{ block.super }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{% block title %}Login{% endblock %}</title>
{% endblock %}
{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="password-input-container">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <i class="fas fa-eye" id="show-password"></i>
                </div>
                {{ form.password.errors }}
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            {% if form.errors %}
            <div class="error-message" id="error-message">
                <p>Invalid Username or Password</p>
            </div>
            {% endif %}
            
            <hr class="line">
            
            <div class="auth-options">
                <a href="{% url 'register' %}">Create an account</a>
                <a href="{% url 'initial-landing' %}">Home</a>
            </div>
        </form>
    </div>
    <script>
        // Delays the appearance of error message
        setTimeout(function () {
            const errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 3000);

        const passwordInput = document.getElementById('password');
        const showPasswordIcon = document.getElementById('show-password');

        showPasswordIcon.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text'; // Show the password
                showPasswordIcon.classList.remove('fa-eye');
                showPasswordIcon.classList.add('fa-eye-slash'); // Change the icon to a slash
            } else {
                passwordInput.type = 'password'; // Hide the password
                showPasswordIcon.classList.remove('fa-eye-slash');
                showPasswordIcon.classList.add('fa-eye'); // Change the icon back to an eye
            }
        });
    </script>

{% endblock %}