
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title> Become a member </title>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Syahrizaldev"><link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <style>
    body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-black);
    background: url(https://wallpapercave.com/wp/wp9789949.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
  }
  </style>
</head>
<main class="main">
	<div class="container">
		<section class="wrapper">
			<div class="back-button">
				<a href="/">
					<i class="ion ion-arrow-left-circled"></i> Back to UNRCE Home
				</a>
			</div>
			<div class="heading">
				<div class="logo">
					<img src="{% static 'icons/unrce_log.bmp' %}" alt="UNRCE Logo"> 
				</div>
				<h1 class="text text-large">Become an official UNRCE Member</h1>
				
			</div>

			<form method="post" name="expression-of-interest" class="form">
				{% csrf_token %}
				<div class="input-control">
					<label for="username" class="input-label" hidden>Username</label>
					<input type="text" name="username" id="username" class="input-field" placeholder="Username" required>
					<!-- Django error handling here, e.g., {{ form.username.errors }} -->
				</div>

				<div class="input-control">
					<label for="organization" class="input-label" hidden>Organization</label>
					<input type="text" name="organization" id="organization" class="input-field" placeholder="Organization" required>
					<!-- Django error handling here, e.g., {{ form.organization.errors }} -->
				</div>

				<div class="input-control">
					<label for="message" class="input-label" hidden>Message</label>
					<textarea name="message" id="message" class="input-field" placeholder="Message" rows="4" required></textarea>
					<!-- Django error handling here, e.g., {{ form.message.errors }} -->
				</div>

				<div class="input-control">
					<input type="submit" name="submit" class="input-submit" value="Submit">
				</div>
			</form>
		</section>
	</div>
</main>

<script>
	// Delays the appearance of error message
	setTimeout(function () {
		const errorMessage = document.getElementById('error-message');
		if (errorMessage) {
			errorMessage.style.display = 'none';
		}
	}, 3000);
</script>

{% endblock %}
