{% load static %} 

{% block title %}{%endblock %} 

{% block head %} 
<!-- External Stylesheets -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

<!-- Integrated Styles -->
<style>
  body {
      background: linear-gradient(120deg, #5b83a8, #5b83a8);
  }

  .profile-sidebar,
  .profile-usermenu {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background-color: #fdfdfd !important;
      margin-bottom: 20px; /* Spacing between containers */
  }

  .profile-userpic img {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 100%; /* Make image fully occupy its container */
  }

  .nav-item a {
      transition: all 0.3s;
  }

  .nav-item:hover a {
      background-color: #e6e6e6;
      border-radius: 5px;
  }

  .nav-link.active {
      font-weight: bold;
      background-color: #ffffff !important;
      border-radius: 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row profile">
      <!-- User Picture -->
      <div class="col-md-3">
          <div class="profile-sidebar">
              <div class="profile-userpic">
                  <img src="https://cdn-icons-png.flaticon.com/512/666/666201.png" class="img-fluid rounded-circle" alt="User">
              </div>
              <div class="profile-usertitle mt-3">
                  <h5 class="text-center">
                      {{ user.first_name }} {{ user.last_name }}
                  </h5>
                  <p class="text-muted text-center">{{ account.organization }}</p>
              </div>
          </div>
      </div>

      <!-- User Menu -->
      <div class="col-md-3">
          <div class="profile-usermenu mt-4">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'initial-landing' %}"><i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit_profile' %}">
                        <i class="fas fa-user-edit"></i> Edit Profile
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-question-circle"></i> Contact us for further Help</a>
              </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">
                          {% csrf_token %}
                          <i class="fas fa-hand-peace"></i> Logout
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
{% endblock %}