{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<title>Sign Up</title>
</head>
<body>
<div class="auth-container">
  <h2>Sign Up</h2>
  <form class="auth-form" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <label for="org">Organization</label>
        <input type="text" id="org" name="org" placeholder="Organization" required>
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" id="password1" name="password1" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
    </div>
    
    <div class="form-group">
        <button type="submit">Sign Up</button>
    </div>
    <div class="auth-options">
        <span>Already have an account? <a href="login.html">Log In</a></span>
    </div>
</form>

</div>
</body>
</html>