<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
</head>
<body>
    <h1>View Report</h1>
    
    <h2>Report Details</h2>
    
    <strong>Title of Project:</strong> {{ report.title_project }} <br>
    <strong>Submitting RCE:</strong> {{ report.submitting_RCE }} <br>
    <strong>Format of Project:</strong> {{ report.format_project }} <br>
    <strong>Delivery:</strong> {{ report.delivery|join:", " }} <br>
    <strong>Frequency:</strong> {{ report.frequency }} <br>
    <strong>Language of Project:</strong> {{ report.language_project }} <br>
    <strong>Web Link:</strong> {{ report.web_link }} <br>
    <strong>Additional Resources:</strong> {{ report.additional_resources }} <br>
    <strong>Region:</strong> {{ report.region }} <br>
    <strong>Country:</strong> {{ report.country }} <br>
    <strong>Locations:</strong> {{ report.locations }} <br>
    <strong>Address:</strong> {{ report.address }} <br>
    <strong>Ecosystem:</strong> {{ report.ecosystem }} <br>
    <strong>Audience:</strong> {{ report.audience|join:", " }} <br>
    <strong>Socio-Economic Characteristics:</strong> {{ report.socio_economic_characteristics }} <br>
    <strong>Development Challenges:</strong> {{ report.development_challenges }} <br>
    <strong>Status:</strong> {{ report.status }} <br>
    <strong>Start of Project:</strong> {{ report.start_project }} <br>
    <strong>End of Project:</strong> {{ report.end_project }} <br>
    <strong>Rationale:</strong> {{ report.rationale }} <br>
    <strong>Objectives:</strong> {{ report.objectives }} <br>
    <strong>Activities/Practices:</strong> {{ report.activities_practices }} <br>
    <strong>Size Academic:</strong> {{ report.size_academic }} <br>
    <strong>Results:</strong> {{ report.results }} <br>
    <strong>Lessons Learned:</strong> {{ report.lessons_learned }} <br>
    <strong>Key Message:</strong> {{ report.key_message }} <br>
    <strong>Relationship Activities:</strong> {{ report.relationship_activities }} <br>
    <strong>Funding:</strong> {{ report.funding }} <br>
    <strong>Direct SDGs:</strong> {{ report.direct_sdgs|join:", " }} <br>
    <strong>Indirect SDGs:</strong> {{ report.indirect_sdgs|join:", " }} <br>
    <strong>Direct ESD Themes:</strong> {{ report.direct_esd_themes|join:", " }} <br>
    <strong>Indirect ESD Themes:</strong> {{ report.indirect_esd_themes|join:", " }} <br>
    <strong>Direct Priority Areas:</strong> {{ report.direct_priority_areas|join:", " }} <br>
    <strong>Indirect Priority Areas:</strong> {{ report.indirect_priority_areas|join:", " }} <br>
    <strong>Created At:</strong> {{ report.created_at }} <br>
    <strong>Last Modified:</strong> {{ report.last_modified }} <br>
    <strong>Author:</strong> {{ report.author }} <br>
    <strong>Approved:</strong> {{ report.approved }} <br>
    <strong>Submitted:</strong> {{ report.submitted }} <br>
    
    <h2>Existing Images</h2>
{% for img in existing_images %}
    <img src="{{ img.image.url }}" alt="Image" width="300"><br>
{% endfor %}
    
<h2>Existing Files</h2>
<ul>
{% for file in existing_files %}
    <li><a href="{{ file.file.url }}" download>{{ file.file.name }}</a></li>
{% endfor %}
</ul>

    <a href="{% url 'report_review' %}">Return</a>
    <a href="{% url 'report_edit' report_id=report.id %}">Edit Report</a>
    <form method="post" action="{% url 'approve_report' report_id=report.id %}">
        {% csrf_token %}
        <input type="submit" value="Approve Report">
    </form>



</body>
</html>
