<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/report_edit.css' %}">
    <title>{% block title %}Database List Table{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/inlines.js' %}"></script>
</head>
{% endblock %}
  
<body>
{% block content %}
  <h1>Report Review</h1>
<!--
    This page is to allow someone with elevated privelages, to see all reports and give them options, what options are 
    to be figured out later.
    It has only some of the headers for the report, not all info, button to bring up details.
-->
<div class="table-container">
  <table border="1">
    <thead>
        <tr>
            <th>Report ID</th>
            <th>Author</th>
            <th>Title of Project</th>
            <th>Image Count</th>
            <th>File Count</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Submitted</th>   
            <th>Approved</th>
            <th>Report Details</th>
            <th>Report Download</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
                <td>{{ report.id }}</td>
                <td>{{ report.author }}</td>
                <td>{{ report.title_project}}</td>
                <td>{{ report.images.count }}</td>
                <td>{{ report.files.count }}</td>
                <td>{{ report.created_at }}</td>
                <td>
                  {% if report.status == "ongoing" %}
                      <span class="status-ongoing">Ongoing</span>
                  {% elif report.status == "completed" %}
                      <span class="status-completed">Completed</span>
                  {% elif report.status == "new_report" %}
                      <span class="status-new">New Report</span>
                  {% endif %}
              </td>
                <td>
                  {% if report.submitted %}
                      <span style="color: green;">Submitted for Review</span>
                  {% else %}
                      <span style="color: red;">Not Submitted</span>
                  {% endif %}
              </td>
              <td>
                  {% if report.approved %}
                      <span style="color: green;">Approved</span>
                  {% else %}
                      <span style="color: red;">Not Approved</span>
                  {% endif %}
              </td>
              <td>
                <div class="details">
                    <a href="{% url 'report_details' report.id %}" >Details</a>
                </div>
              </td>
              <td>
                <div class="download">
                    <a href="{% url 'report_edit' report.id %}" >Download</a>
                </div>
              </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
</body>
</html>
