<!DOCTYPE html>
<html lang="en">
<head>
  {% extends "base.html" %}
  {% load static %}
  {% block head %}
      {{ block.super }}
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="{% static 'css/report_edit.css' %}">
      <title>{% block title %}Report List{% endblock %}</title>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{% static 'admin/js/jquery.init.js' %}"></script>
      <script src="{% static 'admin/js/actions.js' %}"></script>
      <script src="{% static 'admin/js/inlines.js' %}"></script>
  
  </head>
  {% endblock %}
</head>

<body>
  {% block content %}
<div class="title">
  <h1>Report List</h1>
</div>
<div class="table-container">
  <table border="1">
    <thead>
      <tr>
        <th>Report ID</th>
        <th>Name of Project</th>
        <th>Status</th>
        <th>Submitted</th>
        <th>Approved</th>
        <th>Created At</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
      <tr onclick="window.location='{% url 'report_edit' report.id %}'">
        <td>{{ report.id }}</td>
        <td>{{ report.title_project }}</td>
        <td>
          {% if report.status == "ongoing" %}
          <span class="status-ongoing">Ongoing</span>
          {% elif report.status == "completed" %}
          <span class="status-completed">Completed</span>
          {% elif report.status == "new_report" %}
          <span class="status-new">New Report</span>
          {% endif %}
        </td>
        <td>
          {% if report.submitted %}
          <span style="color: green;">Submitted for Review</span>
          {% else %}
          <span style="color: red;">Not Submitted</span>
          {% endif %}
        </td>
        <td>
          {% if report.approved %}
          <span style="color: green;">Approved</span>
          {% else %}
          <span style="color: red;">Not Approved</span>
          {% endif %}
        </td>
        <td>{{ report.created_at }}</td>
        <td>{{ report.last_modified }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
</body>
</html>
