body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f4f4f4, #9db0d3, #bac8e0);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }

  .header {
    margin: 20px auto;
    padding: 10px;
    width: 95%;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    display: flex; /* Use flex display */
    justify-content: space-between;
    padding-right: 550px;
}

  .header h1 {
    color: #DAAA00;
    text-align: center;
    align-items: center;
  }


.header form {
    display: flex;
    align-items:left;
    justify-content: left;
}

.header input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.header input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.header .btn {
    background-color: #DC3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}
  .table-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: rgba(0,48,135,0.9);
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .details a{
    color: #035468; 
    text-decoration: none; 
    transition: color 0.3s;
  }
  .download a{
    color: #05941c; 
    text-decoration: none; 
    transition: color 0.3s;
  }

  .details a:hover, .download a:hover{
    color: rgb(85, 4, 85);
  }

  .status-ongoing {
    color: #007bff;
  }

  .status-completed {
    color: #28a745;
  }

  .status-new {
    color: #ffc107;
  }

  span[style="color: green;"] {
    color: #28a745;
  }

  span[style="color: red;"] {
    color: #dc3545;
  }